.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 1.1em;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    background-color: transparent;
    width: 100%;
    border-radius: 24px;
    border: solid 1px var(--branco);
    padding: 1em;
    color: var(--branco);
}

.banner__pesquisa::placeholder{
    color: var(--branco);
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
    background-image:url("../assets/Pesquisa.svg");
    background-repeat: no-repeat;
    background-position: 0.5em;
}

@media screen and (min-width:1024px) {
    .banner__titulo{
        font-size: 2em;
        font-weight: 700;
    }

    .banner__pesquisa{
        width: 55%;
    }

    .banner__pesquisa::placeholder{
        background-position: 7.6em;
    }
}

@media screen and (min-width:1728px){
    
    .banner__pesquisa{
        width: 33%
    }
    
    .banner__pesquisa::placeholder{
        background-position: 10em
    }

    .banner{
        padding: 5em;
    }
}
            