.contato{
    text-align: center;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--branco);
}

.contato__titulo{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 18px;
}

.contato__texto{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__cadastro{
    width: 100%;
    border-radius: 24px;
    border: solid 1px #3b0202;
    padding: 1em;
    margin: 1em;
    color: #02223b;
}

.contato__cadastro::placeholder{
    color: #02223b;
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
    background-image:url("../assets/emailc.svg");
    background-repeat: no-repeat;
    background-position: 0.5em;
}

hr{
    margin: 0;
}


@media screen and (min-width:1024px){

.contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.contato__informacoes{
    width: 50%;
    text-align: left;
    margin: 0;
}

.contato__titulo{
    font-size: 1.5em;
    font-weight: 600;
}

.contato__texto{
    margin-top: 1em;
    
}


.contato__cadastro{
    width: 40%;
}

}

@media screen and (min-width:1728px){
    .contato{
        padding: 5em 20vw;
    }
}