


.cabecalho__hamburguer{
    width: 24px;
    height: 24px;
    background-image: url( "../assets/menuatt.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    

}


.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--branco);
    
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
}

.lista-menu__titulo{
    color: var(--destaque);
    font-weight: 700;
}

.lista-menu__item{
    color: var(--azul-degrade);
}

.lista-menu__item>a{
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista-menu__item>a:hover{
    background: var(--destaque);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }


.container__botao{
    display: none;
}

.container__titulo-logo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .container__titulo-logo{
        display: block;
        font-family: var(--fonte-logo);
        font-weight: 400
    }

    b{ 
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: black;
    }

    .container__imagem-coracao{
        display: none;
    }

    .cabecalho__hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }
}

@media screen and (min-width:1728px){

    .cabecalho{
        padding: 0 2em;
    }
   

    .container__link{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .container__link{
        text-decoration: none;
        color: black;
    }

    .container__texto{
        display: block;
        margin-left: -1em;
    }

    .container__titulo-logo{
        display: block;
        font-family: var(--fonte-logo);
        font-size: 1.7em;
        font-weight: 400;
    }

    .opcoes{
        margin-right: auto;
        margin-left: 1em;
    }
    
}