.rodape{ 
    padding:1em;
}

.rodape__lista{
    display: none;
}


@media screen and (min-width:1024px){ 

.rodape{
    padding: 2em;
    display: flex;
    justify-content: space-around;
    
    
}

.rodape__lista{
    display: block;
}

.rodape__texto{
    font-size: 1.5em;
}

.rodape__titulo{
    margin-bottom: 1.5em;
    color: #858585;
}

.rodape__item{
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #474646;
}
}

@media screen and (min-width:1024px){
    .rodape__lista{
        border-left: 1px solid #858585;
    }

    .rodape__item,.rodape__titulo {
        margin-left: 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}