.topicos{
    background: var(--azul-degrade);
    padding: 1em;
}

.topicos__titulo{
    color: var(--branco);
    text-align: center;
    padding: 1em;
    font-weight: 300;
    padding-bottom: 2em;
    
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
    
}

.topicos__item{
    background-color: var(--destaque);
    padding: 24px;
    font-weight: 700;
    
}

.topicos__lista>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media screen and (min-width:1024px){
    .topicos__titulo{
        font-size: 1.5em;
    }

    .topicos__lista>a{
        font-size: 1.5em;
    }

    .topicos{
        padding: 1em 5em 2em 5em;
    }
}

@media screen and (min-width:1728px){
    
    .topicos{
        padding: 1em 30vw 4em 30vw;
    }

    
}